@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --background-color: #f1f5f9;
  --text-color: #030712;
}

.dark {
  --background-color: #030712;
  --text-color: #f1f5f9;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background-image: linear-gradient(
    to right,
    rgb(198, 148, 57),
    rgb(255, 230, 158),
    rgb(198, 148, 57)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-gradient-loader {
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #ffd700; /* Gold color for the gradient effect */
  border-bottom: 8px solid #ffd700; /* Gold color for the gradient effect */
  border-image: linear-gradient(45deg, #ffd700, #ffb500);
  border-image-slice: 1;
}
