@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  margin: 0;
  padding: 0;
  background: #042f2e;
  color: #d4d4d8;
  font-family: system-ui, sans-serif; /* Ensure a clean default font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ensure main content area has space for the sidebar */
.admin-layout {
  margin-left: 16rem;
  padding: 1rem;
  overflow-x: hidden;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}
